 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
    font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
    font-weight: bolder;
    text-align: center;

}


:root {
    --primary: #ff7227;
    --secondary: #946f6c;
    --tertiary: #ffffff;
    --fourth: #5e250b;
}

.title {
    padding: 20px;
}

.qplist {
    list-style: none;
    
}

.qplist li {
    padding: 10px;
    
    
}

.qplist li a{
    text-decoration: none;
    color : black;
}

.qplist li a:visited {
    color: var(--fourth);
}


.qplist li a:hover {
    color: var(--secondary)
}

.wrapper {
    color: rgb(0, 0, 0);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    align-items: center;
    vertical-align: middle;
}

.wrapper>*{
    padding: 10px;
    margin: 10px;
    
}

.qps, .res, .bottom-section {
    border: 2px solid var(--primary);
    border-radius: 25px;
    background-color: var(--primary);
}

.top-section {
    display: flex;
    margin: 0;
    width: 100%;
}
.bottom-section {
    font-family: 'Press Start 2P', cursive;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 2;

}
.top-section, .bottom-section {
    flex: 1;
    align-items: center;
}

.qps, .res {
    flex: 1;
    align-items: center;
    height: 100%;
    margin: 10px;
    display: flex;
    padding: 10px;
    justify-content: center;
}