 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
    font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
    font-weight: bolder;
    text-align: center;

}


.title {
    padding: 20px;
}

.qplist {
    list-style: none;
    
}

.qplist li {
    padding: 10px;
    
    
}

.qplist li a{
    text-decoration: none;
    color : black;
}

.qplist li a:visited {
    color: red;
}


.qplist li a:hover {
    color: rgb(187, 255, 0);
}

.wrapper {
    color: rgb(0, 0, 0);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    align-items: center;
    vertical-align: middle;
}

.wrapper>*{
    padding: 10px;
    margin: 10px;
    
}

.qps, .res, .bottom-section {
    border: 2px solid orange;
    border-radius: 25px;
    background-color: orange;
}

.top-section {
    display: flex;
    margin: 0;
}
.bottom-section {
    display: flex;
    align-items: center;
}
.top-section, .bottom-section {
    flex: 1;
    align-items: center;
}

.qps, .res {
    flex: 1;
    align-items: center;
    height: 100%;
    margin: 10px;
    display: flex;
    padding: 10px;
    justify-content: center;
}